APP_ENV=dev
LOG_LEVEL=INFO

DEFAULT_DOCTOR=MuhammadRaufxon
SESSION_TTL_SECONDS=3600

# NEW:
REDIS_URL=redis://localhost:6379/0

# for Farg'ona/Uchko'prik :
APP_TIMEZONE=Asia/Tashkent

# Pricing policy
PRICING_MODE=NO_PRICE

PUBLIC_BASE_URL=https://your-domain.uz
# if local dev: ngrok/Cloudflare tunnel URL qo'yiladi

# Twilio stream endpoint (inside router)
TWILIO_STREAM_PATH=/twilio/stream
TWILIO_INCOMING_PATH=/twilio/incoming